body
{
    background-color: rgb(117, 146, 84);
}

p

{
color:rgb(253, 200, 55);
font-weight: bold;
font-size: larger;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
img
{


    width: 400px;
}

div

{
    max-width: 500px;
    margin: auto;
}

#head

{
    font-size: xx-large;
}